@model IEnumerable<Model.EF.CT_SanPham>

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Areas/Admin/Views/Shared/_Login.cshtml";
}

<h2>ChiTiet</h2>

<p>
    @Html.ActionLink("Thêm Chi Tiết", "ThemChiTiet")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.SanPham.AnhSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MauSac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.AnhSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MauSac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaChiTiet }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaChiTiet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaChiTiet })
        </td>
    </tr>
}

</table>

