@model List<Model.EF.SanPham>
@{
    ViewBag.Title = "Trang Chủ";
}
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                @RenderPage("/Views/Shared/_leftMenu.cshtml")   
            </div>
            <div class="col-md-6">
                <div class="header-slider normal-slider">
                    <div class="header-slider-item">
                        <img src="/Content/img/slider-1.jpg" alt="Slider Image" />
                        <div class="header-slider-caption">
                            <p>Cùng nhau mua sắm online</p>
                            <a class="btn" href="@Url.Action("SanPham","SanPham")"><i class="fa fa-shopping-cart"></i>Mua sắm ngay</a>
                        </div>
                    </div>
                    <div class="header-slider-item">
                        <img src="/Content/img/slider-2.jpg" alt="Slider Image" />
                        <div class="header-slider-caption">
                            <p>Cùng nhau mua sắm online</p>
                            <a class="btn" href="@Url.Action("SanPham","SanPham")"><i class="fa fa-shopping-cart"></i>Mua sắm ngay</a>
                        </div>
                    </div>
                    <div class="header-slider-item">
                        <img src="/Content/img/slider-3.jpg" alt="Slider Image" />
                        <div class="header-slider-caption">
                            <p>Cùng nhau mua sắm online</p>
                            <a class="btn" href="@Url.Action("SanPham","SanPham")"><i class="fa fa-shopping-cart">Mua sắm ngay</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="header-img">
                    <div class="img-item">
                        <img src="/Content/img/category-1.jpg" />
                        <a class="img-text" href="">
                            <p>Cùng nhau mua sắm online</p>
                        </a>
                    </div>
                    <div class="img-item">
                        <img src="/Content/img/category-2.jpg" />
                        <a class="img-text" href="">
                            <p>Cùng nhau mua sắm online</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Slider End -->
<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="/Content/img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="/Content/img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="/Content/img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="/Content/img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="/Content/img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="/Content/img/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->

<div class="featured-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Sản phẩm nổi bật</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            @foreach (Model.EF.SanPham item in Model)
            {
                var url = "/chi-tiet/" + item.TieuDeSP + "-" + item.MaSP;
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">@item.TenSP</a>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="product-image" style="width:285px; height:300px;">
                            <a href="product-detail.html">
                                <img src="@item.AnhSP" alt="@item.TenSP">
                            </a>
                            <div class="product-action">
                                <a href="/them-gio-hang?maSP=@item.MaSP&soluong=1"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="@url"><i class="fa fa-search"></i></a>
                            </div>
                        </div>

                        <div class="product-price">
                            <h5 style="font-size:14px;">@item.DonGia<span>₫</span></h5>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                        </div>
                        
                    </div>
                </div>
            }
        </div>

    </div>
</div>
<!-- Featured Product End -->
<!-- Recent Product Start -->
<div class="recent-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Recent Product</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            @foreach (Model.EF.SanPham item in Model)
            {
                var url = "/chi-tiet/" + item.TieuDeSP + "-" + item.MaSP;
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">@item.TenSP</a>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="product-image" style="width:285px; height:300px;">
                            <a href="product-detail.html">
                                <img src="@item.AnhSP" alt="@item.TenSP">
                            </a>
                            <div class="product-action">
                                <a href="/them-gio-hang?maSP=@item.MaSP&soluong=1"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="@url"><i class="fa fa-search"></i></a>
                            </div>
                        </div>

                        <div class="product-price">
                            <h5 style="font-size:14px;">@item.DonGia<span>₫</span></h5>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Recent Product End -->

<!-- Feature Start-->
<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fab fa-cc-mastercard"></i>
                    <h2>Thanh toán an toàn</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Vận chuyển toàn cầu</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>90 ngày trở lại</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>Hỗ trợ 24/7</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured Product Start -->         